h1 {
	font-size: 1.2rem;
}

h2 {
 font-size: 1.1rem;
}

pre {
	line-height: 1;
}

ul ul {
	margin-top: 0;
	margin-bottom: 0;
}

.e-content ul li {
	margin-top: 0px
}

.e-content ol li {
	margin-top: 0px
}

.blog-listing .card-title h5 {
	margin-bottom: 0;
	font-size: 1em;
}

.blog-listing .card-body p {
	margin-top: 0;
	margin-bottom: 0;
}

.content-item table {
	border: 1px solid black;
	border-spacing: 0;
}

.content-item th {
	border: 1px solid black;	
}
.content-item td {
	border: 1px solid black;
}
